<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
    <title>404 | پیدا نشد</title>
</head>
<body>
    <div class="vw-100 d-flex flex-column align-items-center justify-content-center vh-100">
        <h1>404</h1>
        <h5>صفحه یا آیتم مورد نظر یافت نشد !</h2>
    </div>
</body>
</html>